$border-radius: 0.4em;
$transition: color 0.3s ease, background-color 0.2s ease-in-out;

$text-color: hsl(0, 0%, 20%);
$color-bg: #e6e6e6;
$color-sombra: hsl(0, 6%, 40%);

$color-primary: #021626;
$color-primary-trans: rgba(2, 22, 38, 0.9);
$color-danger: #dc143c;
$color-danger-trans: rgba(220, 20, 60, 0.9);
$color-warning: #ff8c00;
$color-warning-trans: rgba(255, 140, 0, 0.9);
$color-success: #008000;
$color-success-trans: rgba(0, 128, 0, 0.9);
$color-info: #259385;
$color-info-trans: rgba(37, 147, 132, 0.9);
$color-dark: #262626;
$color-dark-trans: rgba(38, 38, 38, 0.9);
$color-dark-deep: #1e1e1e;
$color-dark-deep-trans: rgba(30, 30, 30, 0.9);
$color-white: #f7f7f7;
$color-white-trans: rgba(247, 247, 247, 0.9);
$color-claro: #bcb4b4;
$color-claro-trans: rgba(188, 180, 180, 0.9);
$color-verde-oscuro: #072736;
$color-verde-oscuro-trans: rgba(7, 39, 54, 0.9);
$color-sombra: #a9a9a9;
